<div fxLayout="row " class="header" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
    <h3>
      Incidence Details</h3>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button><button mat-fab color="primary" (click)="gotohome()">
      <mat-icon>home</mat-icon>
    </button><button mat-fab color="primary" (click)="gotoprofile()">
      <mat-icon>person</mat-icon>
    </button><button mat-fab color="primary" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button></div>
</div>