<form [formGroup]="firstFormGroup">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <h2>
            Update incidence</h2>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Subject" [required]="false" formControlName="subject">

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Description" [required]="false" formControlName="description">

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Priority" [required]="false" formControlName="priority">

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <mat-form-field style="style:width:210px" [appearance]="&apos;outline&apos;">
            <input matInput placeholder="Date of Incidence" [matDatepicker]="picker" (dateChange)="onDate($event)" [required]="false" [disabled]="false">
            <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="false"></mat-datepicker>

          </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" (click)="onSubmit()">Update</button></div>
      </mat-card-content>
    </mat-card>
  </div>
</form>